/*
 * TODO:
 *  - fix img-source position
 *  - fix background size
 *  - fix header size and with
 */
body {
  font-family: sans-serif;

  display: flex;
}

header {
  background-color: gray;
  background-image: url("images/meadow-of-flowers-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
  text-align: left;

  width: clamp(512px, 40%, 1024px);
  height: 100vh;
}

#img-source {
    text-shadow: 0 0 5px white;
    text-align: center;
    position: absolute;
    top: 95%;
}

#description {
    width: 75ch;
}
