body {
  font-family: sans-serif;

  display: flex;
}

header {
  background-color: gray;
  background-image: url("images/meadow-of-flowers-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#hero-text {
  width: 75ch;
  font-weight: bold;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: left;
}

input:not([type="submit"]) {
  width: min(100%, 40ch);
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-text {
  font-size: 0.8rem;
  margin: 0;
}

.password-requirements {
  margin: 0;
}
.password-requirements > * {
  margin: 0;
}
.password-requirements > ul {
  list-style-type: none;
  margin-top: 0.25rem;
  padding: 0 0 0 1rem;
}

input:invalid {
  border-color: red;
  box-shadow: 0 0 3px red;
}
input:not([type="submit"]):valid {
  border-color: lightgreen;
  box-shadow: 0 0 3px darkgreen;
}

.invisible {
  opacity: 0;
}
